{{!-- <h1> NutritiousNard </h1>
<ul>
  {{#each views}}
    <li>Name: {{description}}</li>
    <li>Age: {{urgent}}</li>
     <li>Gym: {{description}}</li>
    <li>Food: {{urgent}}</li>
    <br>
    <div><a href="/views/{{@index}}/edit">Edit</a></div>
    <form action="/views/{{@index}}">
      <input type="submit" value="DELETE"/>
    </form>
    <hr>
  {{/each}}
</ul> --}}


















<h1>NutritiousNard</h1>
<ul>
  {{#each users}}
    <a href="/users/{{this._id}}"><li>Name: {{this.name}}</li></a>
    
    <br>
    <div><a href="/users/{{this._id}}/edit">Edit</a></div>
    <form action="/users/{{this._id}}">
      <input type="submit" value="DELETE"/>
    </form>
    <hr>
  {{/each}}
</ul>


<button id="myButton" class="float-center submit-button" >SIGN UP NOW!</button>

<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "/new";
    };
</script>


  {{!-- <div class="button primary">
    <a href="/new"></a>
    Sign Up Now! --}}
   
   
  
  
  
  
  
  
  
