<h1> Todos </h1>
<ul>
  {{#each todos}}
    <li>Description: {{description}}</li>
    <li>Urgent: {{urgent}}</li>
    <br>
    <div><a href="/todos/{{@index}}/edit">Edit</a></div>
    <form action="/todos/{{@index}}">
      <input type="submit" value="DELETE"/>
    </form>
    <hr>
  {{/each}}
</ul>


















{{!-- <h1>{{title}}</h1>
<p>{{title}}</p>
<h2>Jackson McGhehee</h2>
<h3>Daniel Pino</h3>
  <div class="button primary">
    <a href="/user/new">
    Sign Up Now!
    </a> --}}
  {{!-- </div> --}}
   --}}
  
  
  
  
  
  
  
