<h3> {{gym.name}}</h3>
<div class="nav-wrapper yellow lighten-3">
    <div class="col s12">
    </div>
</div>

<button class="btn">
    <a href="/users/{{userId}}/food/{{foodsId}}/gym/{{gymId}}/edit">
        Edit gym
    </a>
</button>

<button class="btn"></button>
    <a href="/users/{{userId}}/food/{{foodsId}}">
        gym Profile
    </a>
</button>